<div class="bg-gray-200 flex flex-col items-center justify-start text-white">
    <nav class="w-full h-16 flex flex-row items-center justify-between bg-white shadow-xl">
      <p class="text-center text-lg text-black ml-4">Home</p>
      <button class="bg-gray-400 rounded px-3 py-1 mr-4">S</button>
    </nav>
    <div class="p-4 w-full flex flex-col items-center justify-start">
      <section [routerLink]="['/trip', trip._id]" class="w-10/12 bg-blue-400 rounded shadow-xl my-2 p-3" *ngFor="let trip of trips">
        <div class="flex flex-row justify-between">        
          <p class="text-lg font-bold uppercase">{{trip.title}}</p>
          <p *ngIf="trip.start_date != null && trip.end_date != null" class="text-base font-bold uppercase">{{trip.start_date.toDateString()}} - {{trip.end_date.toDateString()}}</p>
        </div>
        <p class="text-base"> {{ trip.type }} </p>
        <p class="text-base" *ngIf="trip.locations != null">Total Locations: </p>
        <p class="text-base" *ngIf="trip.locations != null">{{trip.locations.length}}</p>
        <p class="text-base">Total Participants: </p>
        <p>{{trip.participant_ids.length}}</p>
        <p class="text-base">Pending Invites: </p>
        <p>{{trip.pending_invites.length}}</p>
      </section>
    </div>
    <button routerLink="/create-trip" class="bg-green-400 rounded px-3 py-1 mr-4">add trip</button>
</div>