<div class="flex flex-col items-center justify-center h-screen">
  <form action="" class="flex flex-col w-8/12">
    <input type="email" class="m-4 w-full" name="email" placeholder="email" required>
    <input type="password" class="m-4 w-full" name="password" placeholder="password" required>
    <button class="bg-blue-400 rounded shadow-xl text-white text-lg px-3 pt-1 mb-2 w-full">login</button>
    <button class="bg-green-400 rounded shadow-xl text-white text-lg px-3 pt-1 w-full">signup</button>
  </form>
</div>